<%= form_tag model: article do |form| %>
  <div>
    <%= label_tag :title %><br>
    <%= text_field_tag :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= label_tag :body %><br>
    <%= text_field_tag :body %>
        <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= submit_tag %>
  </div>
<% end %>